<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dankook</title>
	<link href="dkust.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<header>
			<nav>
				<ul id="main-nav">
					<li><a href="#intro">Likelion X 단국대(천안)</a></li>					
					<li><a href="#map">지원조건</a></li>
					<li><a href="#choice">지원방법</a></li>
				</ul>
			</nav>
		</header>
		
		<section id="intro">
			<div class="page-title">
				<h1>Likelion X 단국대(천안)</h1>
			</div>
			<div class="content">
				<div class="photo">
					<img src="center.png" alt="사진1">
				</div>
				<div class="text">
				    <h2>선발 일정</h2>
					<p> 서류접수 (2월 25일~ 3월 10일)</p>
					<p><서류심사 합격자 개별통보></p>
					<p> 면접일정 (3월 13~14일)</p>
					<p> 최종 합격자 발표 (3월 15일)</p>
				</div>
			</div>
		</section>
		
        <section id="map">
            <div class="page-title">
		        <h1>지원조건</h1>
            </div>
            <div class="content">
                <div class="photo">
		            <img src="header.png" alt="사진2">
                </div>
                <div class="text">
		            <p>프로그래밍을 배우고자 하는 의지와 관심이 있는 비전공자</p>
                    <p><small><전공자여도 Ruby언어를 처음 배우는 사람이면 무관></small></p>	
                </div>
		    </div>
        </section>

        <section id="choice">
            <div class="page-title">
		        <h1>지원방법</h1>
            </div>
            <div class="content">
                
                <div class="text">
		            <h2>자소설닷컴을 통해 지원</h2>
		            <ol>
			            <li>자소설닷컴에 접속</li>
			            <li>채용달력에 '멋쟁이사자처럼' 추가</li>
			            <li>채용공고내 학교를 직무로 추가</li>
			            <li>학교별 자기소개서 작성 및 지원서 작성</li>
		            </ol>
                </div>
			</div>
		</section>

        <footer>
		    <p>Copyright &copy; Likelion, 2017</p>
        </footer>
	</div>
</body>
</html>